body{
    font-family: 'Lobster', cursive;
    margin: 0;
}
::selection{
    color: blueviolet;
    background-color:rgb(166, 255, 255);
}
.root-section{
    height: 100px;
}
.img {
    padding-top: 3.5%;
    padding-left: 9%;
    height: 50px;  
}
.img img{
    height: 65px;  
}
.header-menu{
    float: right;
    margin-right: 10%;
    margin-top: -4.5%;
}
.header-menu ul{
    list-style-type: none;
}
.header-menu ul li{
    float: left;
}
.header-menu ul li a{
    text-decoration: none;
    padding: 15px 20px;
    font-size: 20px;
    color: rgb(12, 11, 11);
    text-shadow: 1px 1px 3px rgb(102, 100, 100);
}
.header-menu ul li a:hover{
 color: crimson;
 box-shadow: 5px 5px 15px  rgb(185, 184, 184);
 border-radius: 50%;
}
.macbook-pro{
    color: black;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(17, 16, 16);
}
.macbook-pro:hover{
    transition: 3s;
    text-shadow: 2px 2px 5px rgb(255, 49, 49);
    filter: hue-rotate(290deg);
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(83, 82, 82, 0.103));
}
.mac-details{
    margin-left: 9%;
    margin-top: 9%;
    width: 35%;
}
.mac-section{
    height: 600px;
}
.top-section{
    height: 690px;
    background-image: url(bg-top.png);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color: dimgray;
    text-align: justify;
    margin-top: -1%;
    padding-bottom: 2.5%;
}
.link-button{
    text-decoration: none;
    color:white;
    background-color: black;
    padding: 9px 11px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, black,grey);
    box-shadow: 3px 3px 10px grey;
}
.link-button:hover{
    box-shadow: 6px 6px 25px rgb(146, 144, 144);
    transition: 3s;
}
.mac-img{
    position: absolute;
    top: 11%;
    left: 50%;
}
.mac-img img{
    height: 520px;
}
.one{
    background-color: black;
    padding: 4px 15px;
    width: 3px;
    margin:0px 2px; 
    border-radius:25%;
    background-image: linear-gradient(40deg,crimson,cyan);
    outline: none;
    border: none;
    cursor: pointer;
}
.two{
    background-color: black;
    padding: 2px 5px;
    width: 3px;
    margin:0px 5px; 
    border-radius: 40%;
    cursor: pointer;
}
.three{
    background-color: black;
    padding: 2px 5px;
    width: 3px;
    margin:0px 2px; 
    border-radius: 50%;
    cursor: pointer;
}
.one-two-tree{
    margin-top: 35%;
    margin-left: 98%;
    float: left;
    width: 20%;
}
.mobile-section{
    height: 600px;
}
.smartphone{
    margin-left: 9%;
    margin-top: 4%;
    font-size: 38px;
    text-shadow: 2px 2px 5px rgb(17, 16, 16);
}
.typewriter {
    overflow: hidden;
    animation: typing 5s steps(50, end), blinking-cursor .5s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 50%
    }
  }
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: pink;
    }
  }
.see-all{
    float: right;
    margin-right: 7%;
    margin-top: -4%;
    color: crimson;
    cursor: pointer;
}
.phone{
    width: 20%;
    float: left;
    padding: 25px 10px;
}
.mobile-section img{
    height: 200px;
    margin-left: 5%;
}
.mobile-section p,h2,a{
    text-align: center;
}
.phone-2{
    padding: 30px 25px;
    box-shadow: 5px 5px 20px rgb(211, 205, 205);
    margin-left: 10%;
}
.phone-3{
    padding: 30px 25px;
    box-shadow: 5px 5px 20px rgb(211, 205, 205);
    margin-left: 3%;
    margin-right: 3%;
}
.phone-1{
    padding: 30px 25px;
    box-shadow: 5px 5px 20px rgb(211, 205, 205);
}
.mobile-button{
    margin-left: 28%;
}
.doller{
    font-weight: 900;
    color: black;
}
.hover:hover{
    box-shadow: 6px 6px 35px rgb(165, 162, 162);
}
.categories{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(17, 16, 16);
}
.more-product{
    height: 650px;
    background-image: url(more-product-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bag{
    width: 13%;
    padding: 25px 15px;
    box-shadow: 5px 5px 20px rgb(211, 205, 205);
    margin-top: 12%;
    margin-left: 12%;
    border-top-right-radius: 7px;  
    border-bottom-left-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.perfume{
    width: 13%;
    padding: 35px 10px;
    box-shadow: 5px 5px 20px rgb(211, 205, 205);
    margin-left: 30%;
    margin-bottom: 2%;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 7px;
    margin-top: -18%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.shoe{
    width: 13%;
    padding: 35px 10px;
    box-shadow: 5px 5px 20px rgb(211, 205, 205);
    margin-left: 30%;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 7px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pale img{
    height: 400px;
}
.pale{
    float: right;
    margin-top: -35%;
    margin-right: 10%;
}
.row{
    padding: 3.5px 10px;
    background-color: black;
    margin-left: 46%;
    width:6%;
    margin-top: -2%;
    border-radius: 20px;
    background-image: linear-gradient(45deg,crimson,cyan);
}
footer{
    margin-bottom: 1.6%;
    text-align: center;
    margin-top: -1%;
}